.button {
    margin-top: 20px;
    flex-direction: column;
    display: inline-block;
    padding: 1.2px;
    background: linear-gradient(45deg, var(--bleu), var(--rose));
    border-radius: 20px;
}


.button-link {
    display: inline-flex;
    padding: 20px 37px;
    background-color: var(--blanc);
    text-decoration: none;
    font-family: var(--font-secondary);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.08px;
    text-align: center;
    color: var(--noir);
    font-weight: bold;
    border-radius: 19px;

}
