.button {
  margin-top: 15px;
  flex-direction: column;
  display: block;
  padding: 1.2px;
  background: linear-gradient(45deg, var(--bleu), var(--rose));
  border-radius: 20px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.button-link {
  display: inline-flex;
  padding: 15px 25px;
  background-color: var(--blanc);
  text-decoration: none;
  font-family: var(--font-secondary);
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: center;
  color: var(--noir); 
  border-radius: 19px;
  position: relative; 
  transition: all 0.3s ease;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.button-link:hover {
  background: linear-gradient(90deg, var(--rose), var(--bleu-cyan));
  -webkit-background-clip: text; 
  background-clip: text; 
  -webkit-text-fill-color: transparent; 
}

button {
    border: none;
}

.button__container--contact {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}