.content {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;

}

.content--bio {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.content__title {
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.content__text {
    font-weight: 400;
    line-height: 160%;
}

.content__img {
    margin-bottom: 15px;
}

.content__img-legend {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.content__link {
    display: flex;
    text-align: end;

}

.content__link-container {
    display: flex;
    justify-content: right;
    
}

.content__subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0px;
}

.content__section {
    margin-top: 20px;
}

.content__glossary {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.content__glossary-item {
    margin-bottom: 20px;
}

.content__img-livre {
    width: 250px;
    height: auto;
}

