.hook {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.hook__title {
    font-family: var(--font-secondary);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.hook__text {
    line-height: 136%;
}

.hook__date {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.hook__line--top {
    background: var(--gradient);
    height: 4px;
    border: none;
    border-radius: 10px;
}

.hook__line--bottom {
    background: var(--gradient);
    border: none;
    height: 4px;
    position: relative;
    right: 0;
}

.hook__line-container--top {
    position: relative;
    left: -100px;
}

.hook__line-container--bottom {
    position: absolute;
    right: 0;

}