.hook {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
}

.hook__title {
    font-family: var(--font-secondary);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.hook__text {
    line-height: 136%;
}

.hook__date {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.hook__line--top {
    display: flex;
    background: var(--gradient);
    height: 4px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 70%;
    position: absolute;
}

.hook__line--bottom {
    background: var(--gradient);
    border: none;
    height: 4px;
    width: 70%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    right: 0;
}

.hook__line-container--top {
    display: flex;
    position: relative;
}

.hook__line-container--bottom {
    display: flex;
    position: relative;
}