.menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--violet);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.menu__logo img{
    width: 72px;
    height: auto;
    position: relative;
    margin-top: 20px;
}

.menu[aria-hidden="false"] {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
}

.menu-btn {
    position: relative;
    background-color:transparent;
    display: flex;
    width: 32px;
    height: 45px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    z-index: 1;
    border: none;
    color: white;
    padding: 10px;
}

.menu-btn--page {
    position: relative;
    background-color: transparent;
    display: flex;
    width: 32px;
    height: 45px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    z-index: 1;
    border: none;
    color: var(--noir);
    padding: 10px;
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    content: "";
    position: absolute;
    left: 0;
    background-color: white;
    height: 3.6px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}

.menu-btn__bar::before {
    top: 10px;
}

.menu-btn__bar::after {
    top: -10px;
}

.menu-btn__bar--page,
.menu-btn__bar--page::before,
.menu-btn__bar--page::after {
    content: "";
    position: absolute;
    left: 0;
    background-color: var(--noir);
    height: 3.6px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}

.menu-btn__bar--page::before {
    top: 10px;
}

.menu-btn__bar--page::after {
    top: -10px;
}


.menu-btn[aria-expanded="true"] .menu-btn__bar,
.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(135deg);
    background: var(--rose);
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(90deg);
    top: 0;
}

.menu-btn--page[aria-expanded="true"] .menu-btn__bar--page,
.menu-btn--page[aria-expanded="true"] .menu-btn__bar--page::before,
.menu-btn--page[aria-expanded="true"] .menu-btn__bar--page::after {
    transform: rotate(135deg);
    background: var(--rose);
}

.menu-btn--page[aria-expanded="true"] .menu-btn__bar--page::before,
.menu-btn--page[aria-expanded="true"] .menu-btn__bar--page::after {
    transform: rotate(90deg);
    top: 0;
}

.menu__link {
    font-family: var(--font-secondary);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-decoration: none;
    list-style: none;
    color: var(--blanc);
    
}

.menu__links {
    margin-bottom: 45px;
    z-index: 1;
}

.menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 26px;
    z-index: 1;
    margin-top: 55px;
}

.menu__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.menu__social-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 60px;
    z-index: 1;
}

.menu__item {
    z-index: 1;
}

.menu__social-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    color: var(--rose);
    z-index: 1;
}

.menu__sociali-item {
    width: 30px;
    height: 30px;
}

.menu__background {
    position: relative;
    z-index: -1;
    top: -850px;
}

body.noscroll {
    overflow: hidden;
}