.ready-player-one {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}

.ready-player-one__logo {
    width: 216.502px;
    height: 107.823px;
}

.ready-player-one__trailer {
    display: flex;
    flex-direction: column;
    align-items: center;
}